.container {
  width: 100%;
  height: 100vh;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  html{
    font-family: 'Montserrat', sans-serif !important;
  }
#profile_header{
  padding-top: 86.5px;
  background-image: url(../images/Mazda/Mazda_profilebg.jpeg);
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0;
  background-color: rgba(50,89,114, 0.5);

}
h1 {
  margin: 0;
  color: #edf1f1;
  font-size: 10vw;
  text-align: center;
  font-family: 'Playfair', serif;
  padding-top: 0cm;
}
h2{
  color: #edf1f1;
  text-align: center;
  margin: 0;
  padding-top: 0.5cm
}
.animated-text{
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}

.animated-text span{
  position: relative;
}

.animated-text span::before{
  content: "Youtuber";
  color: #edf1f1;
  animation: words 20s infinite;
}
.animated-text span::after{
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  background-color: rgba(50,89,114, 1);
  border-left: 2px solid #edf1f1;
  right: -8px;
  animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to{
      border-left: 2px solid #ff7f5000;
  }
}

@keyframes words {
  0%,20%{
      content: "Sports Car";
  }
  21%,40%{
      content: "Hybrid Electric Vehicle";
  }
  41%,60%{
      content: "Sedan";
  }
  61%,80%{
      content: "Family Car";
  }
  81%,100%{
      content: "SUV";
  }
}
@keyframes typing {
  10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
      width: 0;
  }
  5%,20%,25%,40%,45%,60%,65%,80%,85%{
      width: calc(100% + 8px);
  }
}
a {
  color: #edf1f1;
}
#learnMore {
  padding-top: 3cm;
}
#Sustainability{
  background-color: #d8e0dc;
  margin-top: 0;
  /* border-radius: 1cm; */
  border: rgba(50,89,114, 1) solid 5px;
}
#Mazda_Profile h1{
  /*font-family: serif;*/
  font-weight: 400;
  font-size: 75px;
  text-decoration: underline;
  color: #2f3542;
  padding-top: 1cm;
}
.sectionleft {
  float: left;
  width: 50%;
}
.Mazda_Aboutimg {
  max-width: 50%;
  min-width: 10%;
  float: right;
  box-sizing: border-box;
  margin: 8px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 1cm;
}
.About_section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.About {
  background-color: rgba(50,89,114, 1);
  border: #d8e0dc solid 5px;
  /* border-radius: 1cm; */
  margin: 0;
}
a:hover {
  color: #666968;
}
.sectionheader {
  text-align: center;
  font-size: 3vw;
  color: #d8e0dc;
  font-family: 'Playfair Display', serif;
}
p {
  /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
  padding-left: 20px;
  padding-right: 20px;
  color: #d8e0dc;
  line-height: 145%;
 
}
h3 {
  text-align: center;
  color: #d8e0dc;
  border-bottom: #d8e0dc 1px solid;
  padding-bottom: 7px;
}
.blueheader {
  color: rgba(50,89,114, 1);
 font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 3vw;
}
.sectionright {
  float: right;
}
#Sustainabilitytext {
  color: rgba(50,89,114, 1);
 /* font-family: Verdana, Geneva, Tahoma, sans-serif;*/
  line-height: 145%;
}
.About_section ul {
  list-style: circle;
  box-sizing: border-box;
  padding-right: 20px;
}
#Mazda_sustainabilityimg {
  max-width: 50%;
  min-width: 10%;
  float: left;
  box-sizing: border-box;
  margin: 8px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-radius: 1cm;
}
#bluesubheader  {
  text-align: center;
  color: rgba(50,89,114, 1);
  border-bottom: rgba(50,89,114, 1) 1px solid;
  padding-bottom: 7px;
}
#animated-text {
  border: none;
  text-align: justify;
  padding-left: 32vw;
 /* font-family: 'Nanum Gothic Coding', monospace;*/
}
.sust-text {
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  line-height: 145%;
}
.MX-5-img{
  width: 300px;
  justify-content: center;
  border-bottom: #2f3542 2px solid;
  border-top: #2f3542 2px solid;
  padding-top: 0.5vh;
  height: auto;
}
.model-button{
  width: 400px;
  text-align: center;
  background-color: #d8e0dc;
  justify-content: center;
  border-radius: 5px;
  border: #2f3542 2px solid;
}
.model-heading{
  color: rgba(50,89,114, 1);
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  justify-content: center;
  margin-top: 0;
  margin: 0;
  border: none;
}
.model-hide-show{
  color: rgba(50,89,114, 1);
  margin: 0;
  cursor: pointer;
}
.models-section{
  display: flex;
   align-items: center;
  justify-content: space-evenly;
  flex-direction: row; 
}
.model-details-MX-5, .model-details-CX-5, .model-details-Mazda6-Sedan{
  color: rgba(50,89,114, 1);
  cursor: pointer;
  display: none;
}
.references{
  margin-top: 5vh;
  margin-bottom: 5vh;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  display: flex;
  text-align: center;
  margin-left: 35vw;
  background-color: rgb(216,224,220);
  border: #2f3542 2px solid;
}
a{
    color: #edf1f1;
}
.ref-text{
  color: #325972;
  text-decoration: none;
  padding-right: 10vw;
  padding-left: 10vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  font-size: 2.5vh;
  font-family: 'Montserrat', serif;
}
.references:hover{
  transition: transform 0.4s ease-in;
  transform: scale(1.15);
  background-color: #282422;
}
a:hover{
  color: #edf1f1;
}